<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#"><app-logo></app-logo></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" [class.select]="select==0" (click)="onSelect(0)">
                <a class="nav-link active" aria-current="page" routerLink="/">Trang chủ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/" [class.select]="select==1" (click)="onSelect(1)">Thông báo</a>
              </li>
              <li class="nav-item" [class.select]="select==2" (click)="onSelect(2)">
                <a class="nav-link" routerLink="/order">
                    <i class="fa-solid fa-cart-shopping" ></i>
                    Giỏ hàng</a>
              </li>
              @if (!user) {
                <li class="nav-item ">
                  <a class="nav-link"  routerLink="/login" role="button" >
                    Đăng nhập
                  </a>
                </li>
              }@if(user){
                <li class="nav-item">
                  <a class="nav-link"  role="button" >
                    {{user.full_name}}
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/user-detail">Tài khoản</a>
                </li><li class="nav-item">
                  <a class="nav-link" href="#" routerLink="/">Đơn hàng</a>
                </li><li class="nav-item">
                  <a class="nav-link" (click)="logout()">Đăng xuất</a>
                </li>
              }
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</header>
