<div class="container">
  <div class="intro-section">
    <h1>Đây là trang chi tiết sản phẩm</h1>
    <p>Trang này hiện thị danh sách các sản phẩm, kèm ảnh</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          @for (item of product?.product_images; track $index) {
          <div class="carousel-item" [class.active]="$index == currentImage">
            <img src="{{ item.image_url }}" class="d-block w-100" alt="" />
          </div>
          }
        </div>
        <button
          class="carousel-control-prev text-dark bg-secondary"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
          (click)="onThumbernailClick(currentImage - 1)"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next text-dark bg-secondary"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
          (click)="onThumbernailClick(currentImage + 1)"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="row">
        <div class="thumbnail-container">
          @for (item of product?.product_images; track $index) {
          <div
            class="thumbnail-item active"
            (click)="onThumbernailClick($index)"
            [class.border-green]="$index == currentImage"
          >
            <img src="{{ item.image_url }}" class="thumbnail-image" alt="" />
          </div>
          }
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-details">
        <h2>{{ product?.name }}</h2>
        <p>{{ product?.description }}</p>
        <p>Giá: {{ product?.price }}đ</p>
        <div class="product-actions">
          <button class="btn btn-primary" (click)="addToCart()">
            Thêm vào giỏ hàng
          </button>
          <button class="btn btn-success" (click)="buyNow()">Mua Ngay</button>
        </div>
        <div class="product-quantity">
          <div class="border-wrapper">
            <button (click)="quantity = quantity == 1 ? 1 : quantity - 1">
              -
            </button>
            <input type="text" min="1" [value]="quantity" />
            <button (click)="quantity = quantity + 1">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
